
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Adimn Dashboard</h2>

@if (ViewBag.Test != null)
{
    <p class="alert alert-danger text-center">
        @ViewBag.Test;
    </p>
}