
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@if (TempData["Msg"] != null)
{
    <p class="alert alert-danger text-center">
        @TempData["Msg"];
    </p>
}
@if (ViewBag.Error != null)
{
    <p class="alert alert-danger text-center">
        @ViewBag.Error;
    </p>
}
<form method="post">
    Email: <input type="text" name="Email" placeholder="Email" class="form-control" />

    Password: <input type="text" name="Password" placeholder="Password" class="form-control" />


    <input type="submit" value="Login" class="btn btn-success" />
</form>

